body {
  font-family: "Poppins", sans-serif;
}
.about-section {
  margin: 0;
  width: 100%;
  height: 600px;
}

.about-container {
  width: 100%;
  height: 600px;
  display: flex;
}

.about-container img {
  display: table-cell;
  width: 50%;
  height: 500px;
  margin-left: 20px;
}

.abtt-text {
  display: table-cell;
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 80px;
  font-family: "Roboto", sans-serif;
  color: black;
}

.abtt-text h2 {
  color: #4ab444;
  font-size: x-large;
  text-align: left;
}

.abtt-text h3 {
  color: black;
  font-size: larger;
  text-align: left;
}

.abtt-text h3 {
  color: black;
  font-size: large;
  text-align: justify;
}

.profile-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.main-staff {
  font-size: 30px;
  text-align: center;
  padding-left: 30px;
}

.row-1 {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.row-2 {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.row-3 {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.avatar {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

.avatar a {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-align: center;
}

.profile-name {
  font-size: 25px;
  font-weight: 500;
}

.profile-position {
  font-size: 20px;
}

.profile-story {
  font-size: 15px;
  align-items: center;
}
