body {
  background-color: #dbf9ff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
}
.details-section {
  width: 100%;
  height: 500px;
}

.details-container {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 15px;
  margin-top: 20px;
}

.left-side {
  display: table-cell;
  width: 50%;
  overflow: hidden;
}

.left-side img {
  width: 100%;
  overflow: hidden;
}

.right-side {
  display: table-cell;
  width: 50%;
  justify-content: center;
  align-items: center;
  top: 50%;
}

.right-side h2 {
  font-size: 20px;
  font-weight: 800;
  padding-top: 80px;
}

.right-side h3 {
  line-height: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .details-container {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 15px;
    margin-top: 20px;
  }

  .left-side {
    display: table-cell;
    width: 50%;
    overflow: hidden;
  }

  .left-side img {
    width: 100%;
    overflow: hidden;
  }

  .right-side {
    display: table-cell;
    width: 50%;
    justify-content: center;
    align-items: center;
    top: 50%;
  }

  .right-side h2 {
    font-size: 10px;
    font-weight: 800;
    padding-top: 0px;
  }

  .right-side h3 {
    line-height: 8px;
    vertical-align: middle;
  }
}
