* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 65px;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  background-color: rgb(37%, 37%, 37%, 0.6);
  font-family: "Roboto", sans-serif;
  z-index: 10;
}

.logo img {
  width: 300px;
  height: 100px;
  border-radius: 10%;
  overflow: hidden;
  margin-top: -6px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  opacity: 0.6;
  transition: 0.2s ease-in;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links:hover {
  opacity: 1;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    padding-top: 0px;
  }
  .nav-links {
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    color: #000000;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.welcome-section {
  overflow: hidden;
}

.welcome-section img {
  width: 100%;
  height: 500px;
}

.abt-section {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.abt-image {
  display: table-cell;
  width: 50%;
  height: 721px;
}

.abt-text {
  background-color: #4ab444;
  display: table-cell;
  width: 50%;
  height: 721px;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 80px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.abt-text h1 {
  font-size: 40px;
}
.abt-text h3 {
  font-size: medium;
  text-align: justify;
  line-height: 25px;
}

.abt-text a {
  width: fit-content;
  text-decoration: none;
  color: #4ab444;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10%;
}

/* carousel part */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 520px;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: absolute;
  height: 520px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.card-text {
  background-color: #4ab444;
  width: 500px;
  height: 250px;
  margin: auto;
  color: #f2f2f2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.card-text a {
  width: fit-content;
  text-decoration: none;
  color: #4ab444;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: white;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 10%;
}

h2 {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 20px;
}
h3 {
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
  border: 2px solid white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel-indicator {
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* carousel part */

/* prod-carousel part*/

.prod-section {
  height: fit-content;
  display: flex;
  justify-content: baseline;
}

.container {
  width: 75vw;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.card {
  width: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
}

.card img {
  margin: auto;
  width: 80px;
  transition: 0.3s ease-in;
}

.card img:hover {
  width: 120px;
}

.card a {
  text-decoration: none;
  text-align: center;
  color: black;
  transition: 0.3s ease-in;
}

.card-popup {
  opacity: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(37%, 37%, 37%, 0.2);
  border: #717171;
  border-radius: 10%;
  transition: 0.3s ease-in;
  transform: translatey(100%);
  vertical-align: center;
  line-height: 50px;
}

.card:hover .card-popup {
  width: 80px;
  opacity: 0.6;
  transform: translateY(0%);
}

.swiper-button-prev {
  color: #000000;
  background-color: rgb(37%, 37%, 37%, 0.2);
}
.swiper-button-next {
  color: #000000;
  background-color: rgb(37%, 37%, 37%, 0.2);
}

.swiper-button-next:hover .swiper-button-prev:hover {
  background-color: rgb(37%, 37%, 37%, 0.8);
}

.swiper {
  width: 100%;
  height: 30%;
}
/* prod-carousel part*/

hr {
  width: 100%;
  position: relative;
  top: 10px;
  border: none;
  height: 1px;
  background: black;
  margin-bottom: 50px;
}
.contact-section {
  width: 100%;
  height: 500px;
}

.contact-section h1 {
  text-align: center;
  font-size: xx-large;
  color: #4ab444;
  padding-top: 50px;
}

/* contact section*/

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[id="message"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-bottom: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4ab444;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2c8831;
}

.message-div {
  border-radius: 5px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
}

.footer-section {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.x {
  color: black;
  font-size: 30px;
  margin: 0;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.x:hover {
  color: #717171;
}

.phone i .copyright i {
  color: black;
  font-size: 20px;
  margin: 0;
  padding: 30px;
  transition: 0.3s ease-in;
}

.phone i {
  color: #000000;
}

.phone a {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
}

.copyright a {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
}

/* overlay part */

#overlay2 {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay {
  position: fixed;
  display: none;
  width: 800px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  cursor: pointer;
}

.close-button {
  text-align: end;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}

.close-button a {
  padding: 25px;
  margin-top: 10px;
}

.close-button i {
  font-size: 25px;
}

.content-viewer {
  display: flex;
  padding: 30px;
}

.content-viewer img {
  width: min-content;
  height: min-content;
  margin: 10px;
}

.content-viewer-text {
  display: flex;
  flex-direction: column;
}

.content-viewer-text a {
  text-decoration: none;
  color: #000000;
  margin: 10px;
}

.item-title {
  font-size: 25px;
  padding-bottom: 20px;
}

.item-description {
  font-size: 18px;
  text-align: justify;
  padding-top: 10px;
  line-height: 25px;
}

/* overlay part*/
